In [1]:
#Getting the data from the local file
import numpy as np
import pandas as pd
from datetime import date
from sklearn import linear_model
import matplotlib.pyplot as plt
from scipy import stats

df=pd.read_csv('D:\CHARIT UMESH MANI\employees.csv')

In [2]:
#Changing string data into numarical data
df1=df[['Agency', 'Pay Class Category', 'Pay Scale Type','Position Title','Class Code',
        'Career Service Date', 'Pay Grade', 'Gender','Race','Extra Help Flag']].copy()
df2=df1.copy()
for i in df2.columns:
    p=set(df2[i])
    p=list(p)
    for j,k in enumerate(p):
        df1[i]=df1[i].replace({k:(j+1)*10})
df1

,Agency,Pay Class Category,Pay Scale Type,Position Title,Class Code,Career Service Date,Pay Grade,Gender,Race,Extra Help Flag
0,1170,80,30,11560,9790,59100,2810,30,50,10
1,1300,20,30,7020,5850,72850,1410,10,30,10
2,1050,60,30,10300,15790,56270,850,30,30,10
3,650,60,30,1710,15130,57000,2130,30,30,10
4,250,60,30,20990,9930,38530,2130,30,50,10
5,1010,60,30,17280,2490,75520,2400,30,50,10
6,1010,60,30,17280,2490,49320,2400,30,50,10
7,1010,60,30,10490,17910,78310,1380,30,30,10
8,1100,60,30,23290,12090,74630,2480,30,50,10
9,1100,60,30,23290,12090,74630,2480,30,50,10
10,810,70,10,3730,10,36380,440,10,30,10
11,810,70,10,4610,10,23860,90,10,20,10
12,50,40,30,20220,12480,21660,2570,10,30,10
13,850,40,30,12450,15740,21880,30,10,30,10
14,1100,60,30,22700,12330,7090,990,10,30,10
15,1100,60,30,7300,16990,55690,850,10,50,10
16,1010,60,30,12420,8910,43310,850,10,30,10
17,810,70,10,1390,10,24520,1690,10,30,10
18,1100,60,30,23290,12090,73230,2480,10,30,10
19,1100,60,30,7300,16990,70340,850,10,50,10
20,500,60,30,17630,3500,57730,2400,10,50,20
21,620,60,30,23580,10930,62770,2270,10,30,10
22,1100,60,30,3580,9280,42680,2270,10,30,10
23,810,70,10,9440,10,69910,280,10,30,10
24,90,60,30,20870,11100,67580,990,10,30,10
25,1390,60,30,2030,9050,71750,2480,10,30,20
26,120,60,30,11870,2520,14290,2270,10,30,10
27,810,70,10,7940,10,510,90,10,30,10
28,1100,60,30,7300,16990,26360,850,10,30,10
29,30,40,30,15880,18400,16210,30,10,30,10
...,...,...,...,...,...,...,...,...,...,...
32507,1010,60,30,21850,9730,50060,850,30,50,10
32508,1100,60,30,23290,12090,74630,2480,10,50,10
32509,1100,60,30,23290,12090,73230,2480,10,50,10
32510,1010,60,30,7490,12370,5970,80,30,30,10
32511,810,70,10,9370,10,14240,250,10,30,20
32512,1010,60,30,17280,2490,2400,2400,30,50,10
32513,1230,60,30,6650,2620,43140,990,30,30,20
32514,200,60,30,20750,2780,78590,2480,10,30,20
32515,1330,60,30,20010,9780,69640,850,30,50,10
32516,1330,60,30,15890,14040,57500,850,10,30,10
32517,500,40,30,4470,1420,37970,2570,10,60,10
32518,1390,60,30,16170,14020,1120,490,10,60,10
32519,1330,40,30,20440,2640,19970,2090,30,60,10
32520,810,70,10,420,10,2560,350,30,60,10
32521,1100,60,30,23290,12090,67580,2480,30,50,10
32522,1100,60,30,23290,12090,22920,2480,30,50,10
32523,1010,60,30,13620,2450,46380,80,30,30,10
32524,1100,60,30,23290,12090,58290,2480,30,50,10
32525,1330,60,30,14780,8120,79360,850,30,50,10
32526,500,60,30,8050,9190,29750,1190,30,30,10
32527,1010,60,30,16570,8060,10130,850,30,30,10
32528,1010,60,30,12010,4250,75440,850,30,30,10
32529,1010,60,30,12510,11860,2730,2480,30,30,10
32530,500,60,30,17630,3500,12450,2400,30,30,20
32531,30,60,30,15970,4840,75120,850,30,30,10
32532,200,60,30,22940,4340,69890,850,30,30,10
32533,390,60,30,7590,13100,77730,990,30,60,10
32534,1330,60,30,21890,15670,63650,990,30,50,10
32535,1170,60,30,7700,790,57510,2130,30,60,10
32536,1010,60,30,17280,2490,9080,2400,30,50,10

In [3]:
# getting dates into no. of days(in career service date) and check for null values  
d=df2.columns
df2[d[5]]=pd.to_datetime(df2[d[5]],errors="coerce",dayfirst=True)
Days=[]
for i in range(len(df2[d[5]])):
    k=df2[d[5]][i]
    delta=date.today()-k.date()
    k=delta.days
    Days.append(k)
Days=pd.Series(Days)
Days=Days.fillna(value=0)
df1[d[5]]=Days
print(df1.head())
#checking null values
for q in range(len(d)):
    k1=df1[d[q]]
    nck=pd.isna(k1)
    k=set(nck)
    print(q,k,"         ",d[q])

   Agency  Pay Class Category  Pay Scale Type  Position Title  Class Code  \
0    1170                  80              30           11560        9790
1    1300                  20              30            7020        5850
2    1050                  60              30           10300       15790
3     650                  60              30            1710       15130
4     250                  60              30           20990        9930

   Career Service Date  Pay Grade  Gender  Race  Extra Help Flag
0                343.0       2810      30    50               10
1              10358.0       1410      10    30               10
2              14909.0        850      30    30               10
3                792.0       2130      30    30               10
4                335.0       2130      30    50               10
0 {False}           Agency
1 {False}           Pay Class Category
2 {False}           Pay Scale Type
3 {False}           Position Title
4 {False}           Class Code
5 {False}           Career Service Date
6 {False}           Pay Grade
7 {False}           Gender
8 {False}           Race
9 {False}           Extra Help Flag

In [4]:
#Shuffled and splited the data into training and test data , and changing them into Tensors
df1['Annual Salary']=((df['Annual Salary'])/100).copy()

# Defined a size for  train set 
train_size = int(0.7 * len(df1))

# Splitting  dataset 
train_set = df1[:train_size]
test_set = df1[train_size:]

#saperated the input values and target values

X1=train_set[['Agency', 'Pay Class Category', 'Pay Scale Type', 'Position Title',
       'Class Code', 'Career Service Date', 'Pay Grade', 'Gender', 'Race',
       'Extra Help Flag']]
X1 = X1.to_numpy()
y1=train_set['Annual Salary']
y1 = y1.to_numpy()
X2=test_set[['Agency', 'Pay Class Category', 'Pay Scale Type', 'Position Title',
       'Class Code', 'Career Service Date', 'Pay Grade', 'Gender', 'Race',
       'Extra Help Flag']]
X2 = X2.to_numpy()
y2=test_set['Annual Salary']
y2 = y2.to_numpy()

In [36]:
reg = linear_model.LinearRegression()
reg.fit(X1,y1)
reg.coef_
yp2=reg.predict(X2)

array([ 72.8   , 425.0605, 541.9606, ..., 471.4549, 274.8491, 255.6715])

In [9]:
AV=pd.Series(y2)
PV=pd.Series(yp2)
E=pd.Series(k)
df3=pd.DataFrame(columns=["actual value","predication value","error"])
df3["actual value"]=AV
df3["predication value"]=PV
df3["error"]=E
df3.to_excel('employeesdata.xlsx', sheet_name='Sheet1')